<% if logged_in? %>
  <h5>Your Stories:</h5>
  <% current_user.stories.each do |story| %>
    <h6><a href="/stories/<%= story.id %>"><%= story.title %></a></h6>
  <% end %>
<% end %>
<br>


<h5>Published Stories From Finished Jams:</h5>
<% @closed_jams.each do |jam| %>
  <h5><a href="/jams/<%= jam.id %>"><%= jam.name %></a></h5>
  <% jam.stories.each do |story| %>
    <h6><a href="/stories/<%= story.id %>"><%= story.title %></a> 
    By: <a href="/users/<%= story.user.slug %>"><%= story.user.username %></a></h6>
  <% end %>
  <br>
<% end %>
