<h3><%= @jam.name %></h3><br>

<% if Time.now < @jam.start_date %>
  <h5>Theme will be released on <%= @jam.start_date.strftime("%B %d") %></h5><br>
<% else %>  
  < h5>Theme: <%= @jam.theme %></h5><br>
<% end %>

<h5>Number of Participants: <%= @jam.stories.count %></h5><br>
<% if Time.now < @jam.start_date %>
  <h5>Start Date: <%= @jam.start_date.strftime("%b %d, %Y") %></h5>
  <h5>End Date: <%= @jam.end_date.strftime("%b %d, %Y") %></h5>
<% elsif Time.now > @jam.start_date && Time.now < @jam.end_date %>
  <h5>Participate by creating a story <a href="/stories/new">HERE</a></h5>
<% else %>  
  <h5>Jam Stories</h5>
  <% if @jam.published_stories.empty? %>
    <h5>There are no stories here my friend</h5>
  <% else %>  
    <ul>
    <% @jam.published_stories.each do |story| %>
     <h5><a href="/stories/<%= story.id %>"><%= story.title %></a></h5>
    <% end %>
    </ul>
  <% end %>
<% end %>
<br>

<% if current_user.permission == 'admin' %>
  <h6><a href="/jams/<%= @jam.id %>/edit">Edit Jam</a></h6>
<% end %>
